*{
    margin: 0;
    padding: 0;
}
.row1{
    margin-top: 1%;
    margin-left: 30%;
}
.row1, .row2, .row3, .row4, .row5, .row6, .row7, .row8 {
    display: flex;        
    margin-left: 30%;
}
.tile{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 0;

}
.user1{
    margin-top: 1%;
    margin-left: 10%;
}
.user2{
    margin-left: 80%;
    margin-bottom: 1%;
}
.u2WinsLosses{
    margin-left: 84%;
}
.u1WinsLosses{
    margin-left: 14%;
}
.actingPlayer{
    margin-top: 2%;
    text-align: center;
}

